#signup-header{

    color: white;
}

.signup-form{
    input{
        color: white;
    }
}

.signin-form{
    position: relative;
    border: 10px solid black;
    border-radius: 2px;
    height: 100%
}

.signin-form1{
    position: relative;
    top: 30px;
    input{
        border: 10px solid black;
        border-radius: 2px;
    }
}