#signup-header{

    color: white;
}

body {
    background-image: url("");
}

.welcome-text {
    color: white;
    position: relative;
    top: 30px;
    text-align: center;
}

#landing-page{

    background-color: black;
}

#landing-page1{

    background-color: black;
}

.signup-form{
    background-color: #5F5F5F    ;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: 20px;
    form{
      padding-left: 20px;
      padding-right: 20px;
      margin: 20px;
    }
}

.signup-button{
    position: relative;
    top: 10px;
}

.signin-form{
    padding: 30px;
    input{
        border: 10px solid #212121  ;
        border-radius: 4px;
    }
}

.signin-container{
    max-width: 90%;
    max-height: 100%;
    width: 70%;
    padding: 20px 20px;
    top: 70px;
    color: black;
    background-color: #5F5F5F;
    border-radius: 10px;
    height: 60%;
    input[type=submit]{
      text-align: left;
    }
}

.signin-form1{
    position: relative;
    top: 30px;
    input{
        border: 10px solid #b71c1c ;
        border-radius: 4px;
    }
}

.vertical-menu {
    color: white;
    width: 100%; /* Set a width if you like */
	position: relative;
	left: -13px;
    top: -20px;
    background-color: #263238 ;
	height: 700px;
    overflow-y: auto;
    p{
        color: white; 
        display: block; /* Make the links appear below each other */
        padding: 3px; /* Add some padding */
        margin: 20px;
        text-decoration: none; /* Remove underline from links */
    }
}

.vertical-menu a {
    /*background-color: #eee; /* Grey background color */
    color: white; 
    display: block; /* Make the links appear below each other */
    padding: 3px; /* Add some padding */
    margin: 20px;
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #b71c1c  ;
}

.vertical-menu a.active {
    color: white;
}

.link{
	text-align: left;
	/*position: relative;
	left: 10px;*/
	color: white;
}

.right-column-header{
	width: 1000px;
	position: relative;
	left: 200px;
}

.message-input{
	position: fixed;
}

.add_icon{
	position: relative;
    right: -90px;
    font-size: 43px; 
    top: 8px;
    :hover{
      background-color: #b71c1c  ;
    }
}
.adduser-icon{
    position: relative;
    border-radius: 5px;
    left: 110px !important;
    top: 8px;
}

#group-name{
   font-size: 30px;
   color: #b71c1c ;
   text-transform: uppercase;
}

.sidebar-header{
    color: white;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.adduserpage{
    width: 70%;
    height: 100% !important;
    max-height: 85%;
    input{
        position: relative;
        right: -2px;
    }
}

.input-field {
    input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
    }
}

.user-btn {
    position: relative ;
    left: 10px;
    margin: 10px;
    width: 60%;
    height: 60px;
    color: white;
    padding: 20px;
}

.add-user-btn {
    position: relative;
    left: 300px;
}

.message{
   font-size: 30px;
   position: relative;
   top: 20px;
}

.logo{
    font-size: 30px;
}

.links{
    background-color: #212121;
}

.group-form{
    width: 85%;
    height: 90% !important;
    max-height: 85% !important;
    overflow: scroll;
    input[type=submit]{
        position: relative;
        left: 40px;
        background-color: #212121;
    }
}

.my-pagination {
    position: relative;
    top: 30px;
}

.flashmessage{
    color: black;
}

.reset-form{
    padding: 30px;
}

.my-footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
    height: 8% !important;
}