<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post It | Create Group</title>
    <link rel="stylesheet" href="main.scss">
  </head>
  <body>
        <div class="jumbotron">
         <h2>Food Group</h2>
         <div> 
            <input type="text">
            <button class="btn btn-primary">Add User</button>
            <button class="btn btn-primary">Post Message to group</button>
         </div>
       </div>
  </body>

</html>