<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Post It | Create Group</title>
    <link rel="stylesheet" href="main.scss">
  </head>
  <body> 
    <div class="container">
      <div class="well well-lg">
        Groups
      </div>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" id="create-group" type="button" data-toggle="dropdown">Create Group
          <span class="caret"></span></button>
          <ul class="dropdown-menu" id="dropdown">
            <form class="form-group row">
              <div class="col-xs-8">
              <input type="text" name="group-name" placeholder="Group Name" class="form-control" id="ex3">
              </div>
              <button class="btn btn-primary ">Create</button>
            </form>
          </ul>
        </div>
       <div class="jumbotron">
         Movie Group
         <br>
         <div class="btn btn-primary"> Add user </div>
         <div class="btn btn-primary">Post Message to group</div>
       </div>
    </div>
    
      
  </body>

</html>