<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Post It</title>
    </head>

    <body> 
        <div>
			<nav class="navbar navbar-inverse" id="my-header">
		      <div class="container-fluid">
		        <div class="navbar-header">
		          <Link to="/home" class="navbar-brand">Post It</Link>
		        </div>
		        <ul class="nav navbar-nav">
		          <li><Link to="/signup">SignUp</Link></li>
		          <li><Link to="/signin">SignIn</Link></li>
		          <li><Link to="/messageboard">Message Board</Link></li>
		        </ul>
		      </div>
		    </nav>
	    </div>
       
       <div>
		
        <h1> Welcomes to Post It  </h1>

		<p class=""><Link to="/signup">Join Post It</Link></p>

		</div>

    </body>
</html>