<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Post It | Login</title>
    <link rel="stylesheet" href="main.scss">
  </head>
  <body> 
    <div>
    </div>
    <div class="container">
    <div class = "jumbotron" id="signin">
        <form method="post" action="/login" class="" >
           <div class="form-group" id="login">
            <p id="login-header">Log in here</p>
            	<input type="text" placeholder = "username" name="username" class="form-control" id="usr" class="form-control" >
            	<br>
            	<input type="password" placeholder = "password" name="password" class="form-control" id="pwd">
                <br>
            	<input type="submit" name="Sign In" class="btn btn-primary active" value="Sign In">
           </div>  
        </form>
    <div>
    </div>

    
  </body>
</html>
