#my-header{
	background-color: #2D3135 ;
}

#msg{
	border: 2px solid black; 
	border-radius: 6px;
	padding: 10px; 
	width: 60%; 
	margin-right: .5%; 
}

#user-id{
	position: relative;
	top: 9px;
	left: 600px;
}

.my-nav{
	position: relative;
	top: 7px;
}

#signin{
	width: 600px;
	height: 150%;
	position: relative;
	left: 190px;
	top: 20px;
	background-color: #C9D7F7        ;
}


#login{
	position: relative;
	top: 10px;
}

#login-header{
	position: relative;
	top: -20px;
	color: black;
}

#signup-body{
	width: 720px;
	height: 150%;
	position: relative;
	left: 40px;
	top: 40px;
	background-color: #DAE4ED ;
}

#signup-header{
	position: relative;
	top: -4px;
	left: 10px;

}

#search{
	position: relative;
	left: 100px;
	width: 30%;
	text-align: center;
}

#search-button{
	position: relative;
	left: -650px;
	
}

.search-group{

	position: relative;
	top: -8px;
}

#create-group{
	position: relative;
	top: -70px;
	left: 640px;	
}

#dropdown{
	position: fixed;
	top: 57px;
	left: 680px;
}
