<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Post It | Message Board</title>

    <link rel="stylesheet" href="main.scss">
  </head>
  <body> 
    <div class="container">
      <div class="jumbotron">
        Group Name
        <br>
        <div class="well well-lg"> Message 1 </div>
        <div class="well well-lg"> Message 2 </div>
      </div>

    </div>

    

    
  </body>

</html>