<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Post It | Post Message</title>

    <link rel="stylesheet" href="main.scss">
  </head>
  <body> 
    <div class="container">
      <div class="well well-lg">Group Name</div>

      <div id="message-display" class="jumbotron">  message </div>

      <div class="form-message">
        <form class="form-group">
          <div>
          <input type="text" name="" placeholder="Enter Message" class="form-control input-lg" id="inputlg">
          </div>
          <div>
            <button class="btn btn-primary active">Post</button> 
          </div>
        </form>
      </div>

    </div>

    

    
  </body>

</html>